@import './inputElementStyles.scss';
@import './variables.scss';

html {
    --main-bg-color: rgba(228, 228, 251, 1);
    --dark-text: #2b2b42;
    --dark-text-x1: #565d82;
    --green: #4abd8c;
    --base-white: #fff;

    &[dark='true'] {
        --main-bg-color: #2b2b42;
        --dark-text: rgb(243, 243, 243);
        --dark-text-x1: #c9c9c9;
    }

    * {
        box-sizing: border-box;
    }

    body {
        margin: 0;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
            'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
            'Helvetica Neue', sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        background-color: var(--main-bg-color);
        transition: background 0.4s;

        .xs_visible {
            display: none !important;
        }

        .flex_wrap {
            @include flex-row();
        }

        .mt_center {
            margin-left: 50%;
            transform: translate(-50%);
        }

        .content_wrap {
            max-width: 1250px;
            padding: 0 15px;
            margin-left: 50%;
            transform: translate(-50%);
            width: 100%;

            &.nav_adjust {
                padding-top: 50px;
            }

            h1 {
                color: var(--dark-text);
                font-weight: 600;
                font-size: 48px;
                line-height: 56px;
                margin: 0;
                transition: color 0.4s;
            }

            .sub_head {
                color: var(--dark-text);
                font-size: 18px;
                line-height: 26px;
                margin: 0;
                transition: color 0.4s;
            }

            p {
                color: var(--dark-text);
                font-size: 18px;
                line-height: 26px;
                transition: color 0.4s;
            }

            .paper_box {
                width: 100%;
                background-color: var(--base-white);
                border-radius: 8px;
                margin: 15px 0;
                padding: 15px;
            }
        }
    }
}

.split_box_wrap {
    @include flex-row();
    justify-content: space-between;

    .split_box {
        width: calc(50% - 10px);
    }
}

@media only screen and (max-width: $breakpoint-sm) {
    html {
        body {
            .xs_hidden {
                display: none !important;
            }

            .xs_visible {
                display: block !important;
            }

            .content_wrap {
                padding: 0 15px !important;
                h1 {
                    font-size: 24px;
                    line-height: 32px;
                    // text-align: center;
                }
            }
        }
    }
    .split_box_wrap {
        flex-direction: column;

        .split_box {
            width: 100% !important;
            margin-bottom: 30px;
        }
    }
}

@keyframes burgerAnime {
    from {
        opacity: 0;
        transform: rotate(360deg);
    }
    to {
        opacity: 1;
        transform: rotate(0deg);
    }
}
