@import './../../variables.scss';

.governance {
    article {
        margin-bottom: 25px !important;
        width: 100%;
        float: left;
    }
    .vote_info {
        .head {
            @include flex-row();
            justify-content: flex-start;

            svg {
                margin-right: 5px;

                path {
                    fill: var(--purple);
                }
            }
        }

        p {
            max-width: 50%;
        }
    }
}

@media only screen and (max-width: $breakpoint-sm) {
    .governance {
        .vote_info {
            p {
                max-width: 100%;
            }
        }
    }
}
